@font-face {
  src: url('DetectiveCookie-Regular.woff') format("woff");
  font-family: 'Detective Cookie';
  font-style: normal;
}

body {
  background-color: #36393e;
  color: white;
  font-family: "Detective Cookie";
  font-size: 250%;
  margin: 0;
}

p {
  width: 800px;
  margin: auto;
}

small {
  font-size: 80%;
}

section {
  margin: 30px auto 60px;
}

.pusher {
  color: #62a9cc;
  text-shadow: 2px 2px 0 black;
}

.commentary {
  color: #9EA3A3;
  font-size: 80%;
  display: none;
}

img {
  margin-top: 5px;
}

.caps {
  color: #A0A0C5;
  text-shadow: 2px 2px 0 black;
  /* text-decoration: underline; */
}